html {
    background-color: #465902;
}

body {
    background-color: tan;
    width: 960px;
    margin: 20px auto;
    border-radius: 20px;
}

header {
    padding: 20px;
    text-align: center;
}

header img {
    display: block;
    margin: 20px auto;
    width: 35%;
}

nav {
    background-color: #F3983F;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #465902;
    font-size: 28px;
    margin: 0 20px;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

main img {
    display: block;
    margin: 20px auto;
    width: 45%;
}

footer {
    background-color: #f3983f;
    text-align: center;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
}

a {
    color: #465902;
}

a:hover {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    color: #465902;
}

img {
    border-radius: 10px 10px 10px 10px;
}