* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #FAEAED;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

h1, h2, h3 {
    color: #2c2886;
    text-align: center;
}

#container {
    background-color: #D8EAFF;
}

nav {
    background-color: #9F96D9;
    padding-right: 2px;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 2px solid grey;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: #4F4D8C;
    color: lightgrey;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 0;
}

nav li a:hover {
    background-color: #2c2886;
    color: blanchedalmond;
    border: 4px solid lightgrey;
}

main {
    padding: 20px;
}

.col {
    padding: 10px;
    border-top: 2px solid white;
}

footer {
    background-color: white;
    color: #4F4D8C;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.button {
    display: block;
    width: 100px;
    height: 20px;
    background-color: white;
    color: #4F4D8C;
    text-decoration: none;
    margin-top: 10px;
    margin: auto auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #4F4D8C;
    border-radius: 5px;
}

.button:hover {
    background-color: #9bc9fc;
    border-color: white;
    color: black;
}

table {
    border: white;
}

tr, td {
    border: 4px dotted white;
}

/* mobile and tablet */
@media (min-width: 768px) {
    nav li {
        display: inline-block;
        border: 0;
    }

    nav li a {
        width: 150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid grey;
    }

    main {
        display: flex;
    }

    section, aside {
        padding: 10px;
        margin: 10px;
        border: 2px solid white;
        border-radius: 10px;
    }

    section {
        width: 70%;
    }

    aside {
        width: 30%;
    }

    .col img {
        width: 75%;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
    }

    .single_page {
        width: 100%;
    }

    table img {
        width: 100%;
    }
}
/* desktop */
@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }
    
    nav li a {
        background-color: #4F4D8C;
        border: 0;
        padding: 10px;
    }

    #lower_area {
        display: flex;
    }

    .col {
        border: 2px solid white;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    table img {
        width: 100%;
    }
}